html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
span {
    margin: 0;
    color: #666;
}

.container {
    max-width: 1920px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

nav::after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#logo {
    margin-top: 25px;
    width: 50px;
    height: 50px;
}

.nav-container ul {
    float: right;
    height: 100%;
    line-height: 100%;
    margin: 0;
    margin-top: 45px;
}

.nav-container ul li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: #666;
    transition: 0.5s;
}

.nav-container li a:hover {
    color: #008000;
    cursor: pointer;
}